* {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

.px250 {
    height: 250px;
    display: flex;
    margin: auto;
}

p {
    margin-top: 15px;
    display: flex;
    width: 650px;
    margin: auto;
    text-align: center;
}

#list h2{
    font-size: 19px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul *{
    margin: 5px;
}

header {
    background: #001B2E;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: fixed;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    
    margin: 10px;
    background: grey;
    padding: 5px;
    border-radius: 10px;
}

#causas {
    margin-top: 5rem;
}

h1, h2{
    text-align: center;
}

h2 {
    margin-top: 20px;
}

main {
    margin: auto;

    width: 700px;
    background: rgb(236, 236, 236);
}