* {
    font-family: Arial;
    color: white;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

body {
    background: #5D5D81;
}

header {
    background: #3b3355;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
}

header a:hover {
    transition: 0.5s;
    color: cadetblue;
}

#resumo {
    margin-top: 4rem;
    width: 60%;
    text-align: center;
    align-items: center;
    background: #BFCDE0;
    border-radius: 10px;
}

#resumo h2 {
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}